$border-width: 1rpx;
$border-color: #d7e4ed;
$background-color: #e9f0f5;
$dot-color: #c2d6e6;
$dot-size: 16rpx;
$timeline-width: 90%;
$timeline-max-width: 1170rpx;
$timeline-margin: 32rpx;

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent
}

.c-container {
  background-color: #F7F7F7;
  width: $timeline-width;
  max-width: $timeline-max-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;


  .first {
    margin: 0 auto;
    margin-top: 20rpx;
  }

  .right {
    float: right;
  }

  .right::before,
  .left::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 2rpx;
    background-color: #E7C48D;
  }

  .right::before {
    right: 100%;
    width: calc(50% - 240rpx);
    left: 50%;
  }

  .left::before {
    left: calc(50% - 100rpx);
    width: calc(50% - 240rpx);
  }

  .right::after,
  .left::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20rpx;
    height: 20rpx;
    background-color: #E7C48D;
    border-radius: 50%;
  }

  .right::after {
    left: auto;
    right: calc(50% - 11rpx);
  }

  .left::after {
    right: auto;
    right: calc(50% - 11rpx);
  }

  .c-timeline-content {
    width: 200rpx;
    height: 280rpx;
    box-shadow: -1px 0px 5px 0px #0000008f;
    border-radius: 8rpx;
    padding: 20rpx;
    background-image: url('../../resource/book.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .text-wrapper_10 {
      background: url('../../resource/family_text_bg.png') 100% no-repeat;
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      padding: 30rpx 22rpx 32rpx 22rpx;
      position: relative;
      right: 0;


      .paragraph_18 {
        width: 34rpx;
        height: 192rpx;
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 34rpx;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: right;
        line-height: 48rpx;
        font-weight: bold;

      }
    }

    .paragraph_17 {
      overflow-wrap: break-word;
      color: rgba(51, 51, 51, 1);
      font-size: 20rpx;
      font-family: PingFangSC-Medium;
      text-align: left;
      line-height: 28rpx;
      writing-mode: vertical-lr;
      position: relative;
      right: -80rpx;
      letter-spacing: 10rpx;
      font-weight: bold;
    }
  }

  .c-timeline-line {
    position: relative;
  }

  .c-timeline-line-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: inherit;
    transform: translateX(-50%);
  }
}