.container {

    .content {
        width: 90%;
        margin: 0 auto;

        .fixed-top {
            position: sticky;
            top: 0;
        }

        .top {

            .search {
                width: 90%;

                .at-search-bar::after {
                    border-bottom: none !important;
                }

                .at-search-bar__action {
                    background-color: $primaryColor !important;
                }


            }

            .category {
                text-align: center;
                line-height: 60rpx;
                font-size: 40rpx;
            }
        }

        .categort-title{
            padding-left: 30rpx;
            padding-top: 20rpx;
            padding-bottom: 20rpx;
        }
        .category-list {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            padding: 0 20rpx;
            align-items: center;

            .category-item {
                flex: 0 0 50%;
                .category-content {
                    padding: 10rpx;
                    width: 86%;
                    margin: 15rpx auto;
                    border-radius: 15rpx;
                    background-color: #e6e6e6;
                    display: flex;
                    align-items: center;
                    .category-img {
                        margin-left: 10rpx;
                        vertical-align: middle;
                        width: 80rpx;
                        height: 80rpx;
                    }

                    .category-name {
                        
                        margin-left: 20rpx;
                        font-size: 32px;
                        font-family: PingFang SC-Medium, PingFang SC;
                        font-weight: 500;
                    }
                }

            }
        }
    }
}